.basic-btns {
  padding-top: 8px;
  margin-bottom: -8px;
  h5 {
    line-height: 35px;
    font-size: 12px;
    &.row-sm {
      line-height: 30px;
    }
    &.row-xs {
      line-height: 22px;
    }
  }
  & > .row {
    padding-bottom: 4px;
  }
}

.btns-row {
  & > div {
    margin-bottom: 12px;
  }
}

.btns-same-width-sm {
  .btn {
    width: 48px;
  }
}

.btns-same-width-md {
  .btn {
    width: 79px;
  }
}

.btns-same-width-lg {
  .btn {
    width: 112px;
  }
}