
// Color
$gray-dark =        #373a3c
$gray =             #55595c
$gray-light =       #818a91
$gray-lighter =     #f1f1f1
$gray-lightest =    #f4f5f5
$gray-lightsuper =  #f7f7f9

$brand-primary =    #0275d8
$brand-success =    #5cb85c
$brand-info =       #5bc0de
$brand-warning =    #f0ad4e
$brand-danger =     #d9534f

// Body
$body-bg =           $gray-lightest
$body-color =        $gray-dark


// Links
$link-color =        $brand-primary
$link-hover-color =  darken($link-color, 15%)
$link-hover-decoration =      underline


$line-height = (4/3)
$border-radius =         .25rem
$border-radius-lg =      .3rem
$border-radius-sm =      .2rem