<form class="" name="articleForm">
  <div class="form-group row">
    <label for="articleTitle" class="col-sm-1 form-control-label text-right">文章标题</label>
    <div class="col-sm-5">
      <input type="text"
             class="form-control form-control-lg" 
             placeholder="文章标题" 
             name="articleTitle"
             id="articleTitle"
             [(ngModel)]="article.title"
             autofocus>
    </div>
  </div>
  <div class="form-group row">
    <label for="articleSlug" class="col-sm-1 form-control-label text-right">文章别名</label>
    <div class="col-sm-5">
      <input type="text"
             class="form-control form-control-lg" 
             placeholder="文章别名" 
             name="articleSlug"
             id="articleSlug"
             [(ngModel)]="article.slug">
    </div>
  </div>
  <div class="form-group row">
    <label for="articleDescription" class="col-sm-1 form-control-label text-right">文章描述</label>
    <div class="col-sm-10">
      <textarea class="form-control form-control-lg"
                cols="30" 
                rows="20" 
                name="articleDescription" 
                id="articleDescription" 
                [(ngModel)]="article.description" 
                placeholder="文章描述">
      </textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="articleTag" class="col-sm-1 form-control-label text-right">文章标签</label>
    <div class="col-sm-10">
      <ul class="list-inline list-unstyled">
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">Angular2</a></h3>
        </li>
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">Angular.js</a></h3>
        </li>
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">Vue.js</a></h3>
        </li>
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">JavaScript</a></h3>
        </li>
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">Node.js</a></h3>
        </li>
        <li class="list-inline-item">
          <h3><a href="" class="label label-pill label-default">HTML5</a></h3>
        </li>
      </ul>
    <p></p>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <input type="text"
             class="form-control form-control-lg" 
             placeholder="文章标签，多个以 , 隔开" 
             name="articleTag"
             id="articleTag"
             [(ngModel)]="article.tag">
    </div>
  </div>
  <div class="form-group row">
    <label for="articleContent" class="col-sm-1 form-control-label text-right">文章内容</label>
    <div class="col-sm-10">
      <ckeditor id="articleContent" 
                name="articleContent" 
                [(ngModel)]="article.content" 
                [config]="ckeditorConfig">
      </ckeditor>
    </div>
  </div>
  <!-- <div class="form-group row">
    <label for="articleExtend" class="col-sm-1 form-control-label text-right">自定义字段</label>
    <ul class="list-unstyled clearfix">
      <li>
        <div class="col-sm-4">
          <input type="text"
                 class="form-control" 
                 placeholder="key" 
                 name="articleExtendKey"
                 id="articleExtendKey"
                 [(ngModel)]="article.extend[0].key">
        </div>
        <div class="col-sm-4">
          <input type="text"
                 class="form-control" 
                 placeholder="value" 
                 name="articleExtendValue"
                 id="articleExtendValue"
                 [(ngModel)]="article.extend[0].value">
        </div>
        <div class="col-sm-2">
          <a href="" class="btn btn-danger btn-with-icon btn-block">
            <i class="ion-minus-round"></i>
            <span>删除字段</span>
          </a>
        </div>
      </li>
      <li></li>
    </ul>
    <p></p>
    <div class="col-sm-10 col-sm-offset-1">
      <a href="" class="btn btn-default btn-with-icon btn-block">
        <i class="ion-plus-round"></i>
        <span>添加字段</span>
      </a>
    </div>
  </div> -->
</form>