<div class="row">
  <div class="col-lg-12 col-md-12">
    <ba-card title="所有文章" baCardClass="with-scroll table-panel">
      <div class="contnet-top-tools">
        <div class="pull-left">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default active">全部（14）</button>
            <button type="button" class="btn btn-default">已发布（10）</button>
            <button type="button" class="btn btn-default">草稿（3）</button>
            <button type="button" class="btn btn-default">回收站（1）</button>
          </div>
          <span>&nbsp;</span>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default btn-with-icon">
              <i class="ion-refresh"></i>
              <span>刷新</span>
            </button>
            <div class="btn-group" role="group">
              <button id="batchBtnGroup" 
                      type="button" 
                      class="btn btn-default btn-with-icon dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-haspopup="true" 
                      aria-expanded="false">
                <i class="ion-ios-list"></i>
                <span>批量操作</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="batchBtnGroup">
                <a class="dropdown-item" href="#">移至回收站</a>
                <a class="dropdown-item" href="#">彻底删除</a>
                <a class="dropdown-item" href="#">批量还原</a>
              </div>
            </div>
          </div>
        </div>
        <form class="pull-right form-inline navbar-form">
          <div class="input-group">
            <input type="text" class="form-control with-default-addon" placeholder="文章标题、描述">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索</button>
            </span>
          </div>
        </form>
        <span class="pull-right">&nbsp;</span>
        <form class="pull-right form-inline navbar-form">
          <select class="form-control c-select" id="sort">
            <option default>创建时间</option>
            <option>浏览次数</option>
            <option>评论条数</option>
          </select>
          <select class="form-control c-select" id="category" style="min-width:95px">
            <option default>所有分类</option>
            <option>- Code</option>
            <option>- Think</option>
            <option>-- Nothing</option>
            <option>- Other</option>
          </select>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table tablehover table-striped table-no-borders black-muted-bg table-enrich">
          <thead class="thead-inverse">
            <tr>
              <th>
                <input type="checkbox">
              </th>
              <th>
                <span>ID</span>
              </th>
              <th width="40%">标题</th>
              <th>作者</th>
              <th>分类目录</th>
              <th width="150">标签</th>
              <th>评论</th>
              <th>日期</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles.result.data">
              <td>
                <input type="checkbox">
              </td>
              <td>
                <span>{{ article.id }}</span>
              </td>
              <td>
                <p></p>
                <a href="">
                  <h4 class="strong">{{ article.title }}</h4>
                </a>
                <small>{{ article.description }}</small>
              </td>
              <td>
                <a href="">Surmon</a>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let category of article.category">
                    <a href="">{{ category.name }}</a>
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let tag of article.tag">
                    <a href="">{{ tag.name }}</a>
                  </li>
                </ul>
              </td>
              <td>
                <a href="" *ngIf="article.meta.comments > 0">{{ article.meta.comments }}条评论</a>
                <span *ngIf="!article.meta.comments">暂无评论</span>
              </td>
              <td>{{ article.date }}</td>
              <td>
                <span [ngSwitch]="article.status">
                  <span *ngSwitchCase="0">草稿</span>
                  <span *ngSwitchCase="1">已发布</span>
                  <span *ngSwitchCase="'-1'">已删除</span>
                </span>
              </td>
              <td>
                <div class="button-wrapper">
                  <button class="btn btn-primary btn-sm" type="button">编辑文章</button>
                </div>
                <div class="button-wrapper">
                  <button class="btn btn-info btn-sm" type="button">快速编辑</button>
                </div>
                <div class="button-wrapper">
                  <button class="btn btn-danger btn-sm" type="button">删除文章</button>
                </div>
                <div class="button-wrapper">
                  <button class="btn btn-success btn-sm" type="button">查看文章</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>