$default: #ffffff; // default colors for layout
$body-bg: #F0F3F4; // default bg color

// sidebar colors
$sidebar: #23282d;
$sidebar-text: #ffffff;
$sidebar-sublist: #32373c;
$sidebar-border: #101920;

$topbar: #23282d;
$topbar-text: #ffffff;
$topbar-border: $sidebar-border;

$default-text: $default; // default text color layout (usually is the same as $default)
$content-text: $default-text; // content text color on card, panels, form, etc
$help-text: $default-text; // additional text color for hits

$label-text: $default-text; // labels color
$border: rgba(255, 255, 255, 0.5); // border color
$border-light: rgba(255, 255, 255, 0.3); // lighter version of border color (for hovers)
$input-border: rgba($sidebar-border, 0.2); // input border color
$input-background: rgba($sidebar-sublist, 0.5);; // input border color for hover
$disabled: $input-border; // color for disabled state
$disabled-bg: tint($disabled, 15%); // background color for disable state
$dropdown-text: #7d7d7d; // dropdown text color

// specific components colors
$mail-box: whitesmoke;
$auth-panel-background: #ffffff;
$progress-background: rgba(0, 0, 0, 0.15);
$progress-default: rgba($default-text, 0.95);

// bootstrap card panel styles
$bootstrap-panel-radius: 7px;
$bootstrap-panel-text: #ffffff;
$bootstrap-panel-bg: rgba(255, 255, 255, 0.1);
$bootstrap-panel-header-bg: $topbar;
$bootstrap-panel-header-border: 1px solid $topbar-border;
$bootstrap-panel-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

// color scheme
// $primary: #209e91 !default;
$primary: #017170 !default;
$info: #3498db !default;
$success: #287562 !default;
$warning: #f39c12 !default;
$danger: #e74c3c !default;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);

// link colors
$activelink: $default;
$hoverlink: $primary;

// main background
@mixin body-bg() {
  background-color: $body-bg;

  // $mainBgUrl: $images-root + 'blur-bg-blurred.jpg';

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: url($mainBgUrl) no-repeat center center;
    // background-size: cover;
    background-color: $sidebar-sublist;
    will-change: transform;
    z-index: 0;
  }
}

// additional background if you want another layer
@mixin additional-bg() {
  //display: block; // additional background layer, hidden by default
}