<div class="single">
	<div class="single_nearby">
		<span class="post_prev" ng-if="post_prev_id">
			<a ng-href="/post/{{ post_prev_id }}" rel="prev" class="icon icon-chevron-left"></a>
		</span>
		<span class="post_next" ng-if="post_next_id">
			<a ng-href="/post/{{ post_next_id }}" rel="next" class="icon icon-chevron-right"></a>
		</span>
	</div>
	<div class="single-content">
		<h2 class="title">{{single.post.title}}</h2>
		<div class="content" ng-bind-html="single.post.content | trustAsHtml"></div>
	</div>

	<div class="single-info">
		<div class="author">
			<a class="gravatar" href="/about" title="So, Lovely?" tooltip>
				<img ng-src="" title=""/>
			</a>
			<p class="name">Surmon</p>
			<p class="description">Dare to be.</p>
		</div>
		<div class="info">
			<span class="tags">
				Tags：
				<a href="/tag/{{tag.slug}}" ng-repeat="tag in single.post.tags" title="{{tag.title}}" tooltip>{{tag.title}}</a>
			</span>
			<span class="cates">
				Categorys：
				<a href="/category/{{cate.slug}}" ng-repeat="cate in single.post.categories" title="{{cate.title}}" tooltip>{{cate.title}}</a>
			</span>
			<span class="date">
				Created in：{{single.post.date | toSec | date:'yyyy-MM-dd'}}
			</span>
			<span class="views">
				Views：{{single.post.custom_fields.views[0]}}
			</span>
		</div>
	</div>

	<div class="single-share">
		<ul class="share-list">
			<li class="share">
				<span title="分！享！粗！去！" tooltip>
					<i class="icon icon-plus"></i>
				</span>
			</li>
			<li class="share">
				<a target="_blank" rel="nofollow" href="http://v.t.sina.com.cn/share/share.php?&url=<?php the_permalink(); ?>&title=<?php the_title(''); ?>" title="新浪微博" tooltip>
					<i class="icon icon-weibo"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<?php the_permalink(); ?>&title=<?php the_title(''); ?>&desc=&summary=&site=" title="QQ空间" tooltip>
					<i class="icon icon-qzone"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://www.douban.com/recommend/?url=<?php the_permalink(); ?>&title=<?php the_title(''); ?>"  title="豆瓣" tooltip>
					<i class="icon icon-douban"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://share.renren.com/share/buttonshare?link=<?php the_permalink(); ?>&title=<?php the_title(''); ?>" title="人人网" tooltip>
					<i class="icon icon-renren"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://cang.baidu.com/do/add?iu=<?php the_permalink(); ?>&it=<?php the_title(''); ?>&linkid=hjm6y313aqz" title="百度云资源分享" tooltip>
					<i class="icon icon-baidu"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="<?php bloginfo( 'url' ); ?>/feed" title="订阅本站" tooltip>
					<i class="icon icon-rss"></i>
				</a>
			</li>

			<li class="share" style="margin-left: 10px;">
				<span title="关注" tooltip>
					<i class="icon icon-plus"></i>
				</span>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://yun.baidu.com/share/home?uk=4229109814category/type=0" title="百度云盘" tooltip>
					<i class="icon icon-baiduyun"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://www.xiami.com/radio/play/type/4/oid/11925881" class="tencent-share" title="虾米电台" tooltip>
					<i class="icon icon-xiami"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="http://www.zhihu.com/people/surmon" title="知乎主页" tooltip>
					<i class="icon icon-zhihu-square"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="mailto:surmon@foxmail.com" title="给我邮件" tooltip>
					<i class="icon icon-envelope"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="tencent://Message/?Uin=794939078&websiteName=surmon.me=&Menu=yes" title="与我交谈" tooltip>
					<i class="icon-qq"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="mailto:surmon@foxmail.com" title="给我邮件" tooltip>
					<i class="icon icon-envelope"></i>
				</a>
			</li>

			<li class="share">
				<a target="_blank" rel="nofollow" href="https://github.com/surmon-china" title="GitHu主页" class="last_child" tooltip>
					<i class="icon icon-github"></i>
				</a> 
			</li>

		</ul>
	</div>
	
	<div class="single-related" ng-if="relatedSingles">
		<ul class="related-list">
			<li class="post" ng-repeat="post in relatedSingles | limitTo:10">
				<a class="thumb" ng-href="/post/{{ post.id }}" title="{{post.title}}" tooltip>
					<img ng-src="{{ getThumbnail(post.thumbnail_images.full.url, 112, 120) }}" alt="{{post.title}}"/>
				</a>
				<span class="title">
					<a ng-href="/post/{{ post.id }}" title="{{post.title}}" >{{post.title}}</a>
				</span>
			</li>
		</ul>
	</div>

	<div class="single-comment" duoshuo="duoshuo_id" ng-if="duoshuo_id"></div>

</div>