<div class="aside" ng-controller="Aside">
	<div class="aside-search">
		<form name="searchForm" class="search-form" ng-submit="search(keyWords);keyWords = null">
    	<input class="search-text" name="keyWords" list="search-tag" type="search" placeholder="Search In Here" required ng-pattern="/.{3,}/" ng-model="keyWords" maxlength="15" x-webkit-speech lang="zh-CN" x-webkit-grammar="builtin:search">
    	<datalist id="search-tag">
			  <option value="Javascript"></option>
			  <option value="CSS"></option>
			  <option value="Think"></option>
			  <option value="另一面"></option>
			  <option value="创业"></option>
			  <option value="互联网"></option>
			</datalist>
      <button class="search-submit icon icon-search" alt="search" title="GO!" tooltip></button>
    </form>
    <a class="follow-btn" href="//surmon.me/go/github" title="Yeah! Sure, It's so great!" target="_blank" rel="nofollow" tooltip>
    	<i class="icon icon-github"></i>
    </a>
    <a class="follow-btn" href="//surmon.me/go/qzone" title="Hello,World!"target="_blank" rel="nofollow" tooltip>
    	<i class="icon icon-star"></i>
    </a>
	</div>
	<div class="aside-post">
		<ul class="posts-list">
			<li class="post" ng-repeat="post in newPosts | limitTo: 13">
				<i class="index"></i>
				<a ng-href="/post/{{post.id}}" title="{{post.title}}" >{{post.title}}</a>
			</li>
		</ul>
	</div>
	<div class="aside-time">
		<i class="icon icon-time"></i>{{ clock | date:'yyyy - MM - dd， EEE， HH：mm：ss' }}
	</div>
	<div class="aside-calendar" aside-calendar selected="day"></div>
	<div class="aside-ad">
		<a href="//surmon.me/go/aliyun" target="_blank" rel="nofollow">
			<img ng-src="" title="" alt="" />
			我是广告图片
		</a>
	</div>
	<div class="aside-tag">
		<ul class="tags-list">
			<li class="tag" ng-repeat="tag in tags | orderBy : '-post_count' | limitTo: 18">
				<a ng-href="/tag/{{tag.slug}}" title="{{tag.title}}">
					{{tag.title}}({{tag.post_count}})
				</a>
			</li>
		</ul>
	</div>
</div>
