<div class="footer">
  <div class="footer-ad">我是广告/需要php</div>
  <div class="footer-copyright"> 陕ICP备13004859号 - <a href="//surmon.me/sitemap.html"  target="_blank"  >SiteMap</a> - Powered by <a href="//cn.wordpress.org" target="_blank" rel="nofollow">WordPress</a> On <a href="http://surmon.me/go/aliyun" target="_blank" rel="nofollow">AliYun</a> & Web Frame By <a href="//angularjs.cn/" target="_blank" rel="nofollow">Angular.Js</a> & Dsigned by <a href="//surmon.me/about" >Surmon</a>
  </div>
</div>