<div class="index-slide" ng-show="route == 'index'">
	<ul rn-carousel rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="slide-list">
    <li class="item" ng-repeat="post in posts | limitTo:5">
      <div class="content">
      	<div class="thumb" ng-style="{'background-image': 'url(' + getThumbnail(post.thumbnail_images.full.url, 620, 210) + ')'}" ></div>
        <a ng-href="#/post/{{post.id}}" title="{{post.title}}">
        	<span class="title">{{post.title}}</span>
        </a>
      </div>
    </li>
	</ul>
</div>
<archive></archive>